Find the names of all females who eat both mushroom and pepperoni pizza.

In [1]:
include("pizza_data.jl")

Person

----------------------------------------------------
|      name      |      age       |     gender     |
----------------------------------------------------
|      Amy       |       16       |     female     |
|      Ben       |       21       |      male      |
|      Cal       |       33       |      male      |
|      Dan       |       13       |      male      |
|      Eli       |       45       |      male      |
|      Fay       |       21       |     female     |
|      Gus       |       24       |      male      |
|      Hil       |       30       |     female     |
|      Ian       |       18       |      male      |
----------------------------------------------------

Frequents

-----------------------------------
|      name      |    pizzeria    |
-----------------------------------
|      Amy       |   Pizza Hut    |
|      Ben       |   Pizza Hut    |
|      Ben       | Chicago Pizza  |
|      Cal       |   Straw Hat    |
|      Cal       | New York Pizza |
|      Dan       |   Straw Hat    |
|      Dan       | New York Pizza |
|      Eli       |   Straw Hat    |
|      Eli       | Chicago Pizza  |
|      Fay       |    Dominos     |
|      Fay       | Little Caesars |
|      Gus       | Chicago Pizza  |
|      Gus       |   Pizza Hut    |
|      Hil       |    Dominos     |
|      Hil       |   Straw Hat    |
|      Hil       |   Pizza Hut    |
|      Ian       | New York Pizza |
|      Ian       |   Straw Hat    |
|      Ian       |    Dominos     |
-----------------------------------

Eats

-----------------------------------
|      name      |     pizza      |
-----------------------------------
|      Amy       |   pepperoni    |
|      Amy       |    mushroom    |
|      Ben       |   pepperoni    |
|      Ben       |     cheese     |
|      Cal       |    supreme     |
|      Dan       |   pepperoni    |
|      Dan       |     cheese     |
|      Dan       |    sausage     |
|      Dan       |    supreme     |
|      Dan       |    mushroom    |
|      Eli       |    supreme     |
|      Eli       |     cheese     |
|      Fay       |    mushroom    |
|      Gus       |    mushroom    |
|      Gus       |    supreme     |
|      Gus       |     cheese     |
|      Hil       |    supreme     |
|      Hil       |     cheese     |
|      Ian       |    supreme     |
|      Ian       |   pepperoni    |
-----------------------------------

Serves

----------------------------------------------------
|    pizzeria    |     pizza      |     price      |
----------------------------------------------------
|   Pizza Hut    |   pepperoni    |       12       |
|   Pizza Hut    |    sausage     |       12       |
|   Pizza Hut    |     cheese     |       9        |
|   Pizza Hut    |    supreme     |       12       |
| Little Caesars |   pepperoni    |      9.75      |
| Little Caesars |    sausage     |      9.5       |
| Little Caesars |     cheese     |       7        |
| Little Caesars |    mushroom    |      9.25      |
|    Dominos     |     cheese     |      9.75      |
|    Dominos     |    mushroom    |       11       |
|   Straw Hat    |   pepperoni    |       8        |
|   Straw Hat    |     cheese     |      9.25      |
|   Straw Hat    |    sausage     |      9.75      |
| New York Pizza |   pepperoni    |       8        |
| New York Pizza |     cheese     |       7        |
| New York Pizza |    supreme     |      8.5       |
| Chicago Pizza  |     cheese     |      7.75      |
| Chicago Pizza  |    supreme     |      8.5       |
----------------------------------------------------

In [2]:
r1 = σ(Eats, :pizza, ==, "pepperoni")

-----------------------------------
|      name      |     pizza      |
-----------------------------------
|      Amy       |   pepperoni    |
|      Ben       |   pepperoni    |
|      Dan       |   pepperoni    |
|      Ian       |   pepperoni    |
-----------------------------------

In [3]:
r2 = π(r1, :name)

------------------
|      name      |
------------------
|      Amy       |
|      Ben       |
|      Dan       |
|      Ian       |
------------------

In [4]:
r3 = σ(Eats, :pizza, ==, "mushroom")

-----------------------------------
|      name      |     pizza      |
-----------------------------------
|      Amy       |    mushroom    |
|      Dan       |    mushroom    |
|      Fay       |    mushroom    |
|      Gus       |    mushroom    |
-----------------------------------

In [5]:
r4 = π(r3, :name)

------------------
|      name      |
------------------
|      Amy       |
|      Dan       |
|      Fay       |
|      Gus       |
------------------

In [6]:
r5 = ∩(r2, r4)

------------------
|      name      |
------------------
|      Amy       |
|      Dan       |
------------------

In [7]:
r6 = ρ(r5, :name, :eats_name)

------------------
|   eats_name    |
------------------
|      Amy       |
|      Dan       |
------------------

In [8]:
r7 = ×(Person, r6)

---------------------------------------------------------------------
|      name      |      age       |     gender     |   eats_name    |
---------------------------------------------------------------------
|      Amy       |       16       |     female     |      Amy       |
|      Amy       |       16       |     female     |      Dan       |
|      Ben       |       21       |      male      |      Amy       |
|      Ben       |       21       |      male      |      Dan       |
|      Cal       |       33       |      male      |      Amy       |
|      Cal       |       33       |      male      |      Dan       |
|      Dan       |       13       |      male      |      Amy       |
|      Dan       |       13       |      male      |      Dan       |
|      Eli       |       45       |      male      |      Amy       |
|      Eli       |       45       |      male      |      Dan       |
|      Fay       |       21       |     female     |      Amy       |
|      Fay       |       21       |     female     |      Dan       |
|      Gus       |       24       |      male      |      Amy       |
|      Gus       |       24       |      male      |      Dan       |
|      Hil       |       30       |     female     |      Amy       |
|      Hil       |       30       |     female     |      Dan       |
|      Ian       |       18       |      male      |      Amy       |
|      Ian       |       18       |      male      |      Dan       |
---------------------------------------------------------------------

In [9]:
r8 = σ(r7, :name, ==, :eats_name)

---------------------------------------------------------------------
|      name      |      age       |     gender     |   eats_name    |
---------------------------------------------------------------------
|      Amy       |       16       |     female     |      Amy       |
|      Dan       |       13       |      male      |      Dan       |
---------------------------------------------------------------------

In [10]:
r9 = σ(r8, :gender, ==, "female")

---------------------------------------------------------------------
|      name      |      age       |     gender     |   eats_name    |
---------------------------------------------------------------------
|      Amy       |       16       |     female     |      Amy       |
---------------------------------------------------------------------

In [11]:
r10 = π(r9, :name)

------------------
|      name      |
------------------
|      Amy       |
------------------

In [12]:
result = [t[1] for t in r10.tuples_values]
@assert length(result) == 1
@assert "Amy" ∈ result